body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  margin: 0;
  width: 100%;
  padding: 10px 0;
  height: 60px;
  background-color: #000;
}

.modalBtn {
  padding: 10px 30px;
  float: right;
  color: #fff;
  margin-right: 3rem;
  border: 0;
  background-color: red;
  text-decoration: none;
}

.modalBtn:hover {
  background-color: #444;
}

.modal-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.modal-wrapper.active {
  display: block;
}

.modal-content {
  background-color: #f4f4f4;
  width: 40%;
  margin: 15% auto;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
}

.modal-header {
  background-color: #4a3ef7;
  color: #fff;
  padding: 20px;
}

.modal-header h2 {
  display: inline-block;
  margin: 0;
}

.modal-header .closeBtn {
  float: right;
  font-size: 30px;
  cursor: pointer;
}

form {
  border: 3px solid #f1f1f1;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #cccccc;
  box-sizing: border-box;
}

button {
  background-color: #4a3ef7;
  color: white;
  margin: 8px 0;
  padding: 14px 20px;
  cursor: pointer;
  border: none;
  width: 100%;
}

.modal-footer {
  padding: 10px;
}

button:hover {
  opacity: 0.8px;
}

.cancelBtn,
.loginBtn {
  float: left;
  width: 50%;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.cancelBtn {
  padding: 14px 20px;
  background-color: #f44336;
}
