body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  margin: 0;
  width: 100%;
  padding: 10px 0;
  height: 60px;
  background-color: #000;
}

.modalBtn {
  padding: 10px 30px;
  float: right;
  color: #fff;
  margin-right: 3rem;
  border: 0;
  background-color: red;
  text-decoration: none;
}

.modalBtn:hover {
  background-color: #444;
}
